@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import './starry-night-styles.css';
@import 'tailwindcss/utilities';

.highlight {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=04686F);
    @apply p-4 text-white underline hover:no-underline cursor-default;
}

.prose table {
    @apply text-right;
}

.prose table th {
    @apply text-center;
}

.prose ul, .prose ul li,
.prose ol, .prose ol li {
    padding-left: unset;
    padding-right: 1.5rem;
}

.prose blockquote {
    border-left-width: unset;
    border-right-width: 0.15rem;
    padding-right: 1.5rem;
    padding-left: unset;
    border-right-color: #e2e8f0;
    border-left: unset;
}