@import 'tailwindcss';
@config '../../tailwind.config.ts';

.prose hr {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.prose ul li,
.prose ul {
  margin: 0.5rem 0;
}

.prose img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.prose * {
  direction: rtl;
}

._contentEditable_sects_380 {
  color: unset !important;
}
._imageWrapper_sects_920 {
  display: block !important;
}

.highlight {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=04686F);
  @apply cursor-default p-4 text-white underline hover:no-underline;
}

.prose table {
  @apply text-right;
}

.prose table th {
  @apply text-center;
}

.prose ul,
.prose ul li,
.prose ol,
.prose ol li {
  padding-left: unset;
  padding-right: 1.5rem;
}

.prose blockquote {
  border-left-width: unset;
  border-right-width: 0.15rem;
  padding-right: 1.5rem;
  padding-left: unset;
  border-right-color: #e2e8f0;
  border-left: unset;
}
